body {
  font-style: normal;
  font-family: "Noto Sans JP", noto-sans-cjk-jp, kozuka-gothic-pr6n, sans-serif;
  color: #524e4d;
  background-color: #fff;
  overflow-x: hidden;
}

.animate__animated {
  opacity: 0;
}

h1,
h2,
h3,
p,
figure,
ul {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .container {
    margin: 0 auto;
    width: 92vw;
  }
}

@media screen and (min-width: 768px) {
  .inner-right {
    width: 62.6647144949vw;
  }
}
@media screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .pc-only {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .sp-only {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .sp-only {
    display: none;
  }
}

/*============================================================
# header
============================================================*/
header {
  width: 100vw;
  height: 17.0666666667vw;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  header {
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  header {
    height: 6.5vw;
  }
}

.header-inner {
  margin: 0 auto;
  width: 92vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header-inner {
    width: 84vw;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.kirameki {
  width: 34vw;
  height: 5.8666666667vw;
}
@media screen and (min-width: 768px) {
  .kirameki {
    width: 21.5vw;
    height: 3vw;
  }
}

.online {
  width: 14.5vw;
  height: auto;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .online {
    width: 9vw;
    height: auto;
    margin-left: 1.5vw;
  }
}

.header-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
@media screen and (min-width: 768px) {
  .header-items {
    margin-left: 3vw;
  }
}

.header-item + .header-item {
  margin-left: 2.5vw;
}
@media screen and (min-width: 768px) {
  .header-item + .header-item {
    margin-left: 0;
    margin-right: 2.8vw;
  }
}
.header-item span {
  font-family: "Noto Sans JP";
  font-size: 1.1713030747vw;
  font-weight: normal;
  line-height: 1.49;
  text-align: center;
  color: #524e4d;
  display: block;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .header-item span {
    display: none;
  }
}
.header-item a i {
  text-align: center;
  font-size: 8vw;
  color: #524e4d;
}
@media screen and (min-width: 768px) {
  .header-item a i {
    font-size: 2.196193265vw;
  }
}

/*============================================================
# navBtn
============================================================*/
.navBtn {
  position: relative;
  width: 8vw;
  height: 7vw;
  cursor: pointer;
  transition: all 0.5s;
  box-sizing: border-box;
}
.navBtn span {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  background-color: #1f2775;
  border-radius: 3px;
  transition: all 0.5s;
}
.navBtn span:nth-of-type(1) {
  top: 0;
}
.navBtn span:nth-of-type(2) {
  top: 3vw;
}
.navBtn span:nth-of-type(3) {
  top: 6vw;
}

.navBtn.active span:nth-of-type(1) {
  transform: translateY(3vw) rotate(-45deg);
}

.navBtn.active span:nth-of-type(2) {
  opacity: 0;
}

.navBtn.active span:nth-of-type(3) {
  transform: translateY(-3vw) rotate(45deg);
}

/*============================================================
# search
============================================================*/
@media screen and (max-width: 767px) {
  .search-wrap {
    display: none;
    z-index: 20;
  }

  .openSearch.search-wrap {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .search-wrap {
    margin-left: 3.7vw;
  }
}
.search-form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 767px) {
  .search-form {
    position: absolute;
    top: 4.3vw;
    left: 5vw;
  }
}

.search-icon {
  box-sizing: border-box;
  border-radius: 0 10px 10px 0;
  border: solid 1px #c7c7c7;
  background-color: #f4f4f4;
  width: 15vw;
  height: 12vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 21;
}
@media screen and (min-width: 768px) {
  .search-icon {
    order: 1;
    border-radius: 10px 0 0 10px;
    width: 4.9780380673vw;
    height: 3.2942898975vw;
  }
}
.search-icon .fa-magnifying-glass {
  font-size: 5.6vw;
}
@media screen and (min-width: 768px) {
  .search-icon .fa-magnifying-glass {
    font-size: 1.5373352855vw;
  }
}
@media screen and (min-width: 768px) {
  .search-icon .fa-angle-down {
    font-size: 1.317715959vw;
  }
}

.icon-left {
  margin-right: 6vw;
}
.icon-left .fa-angle-left {
  font-size: 5.6vw;
}

.search-no {
  width: 68.2vw;
  height: 12vw;
  border-radius: 10px 0 0 10px;
  border: solid 1px #c7c7c7;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .search-no {
    border-right: none;
    padding-left: 3vw;
  }
}
@media screen and (min-width: 768px) {
  .search-no {
    padding-left: 1vw;
    border-radius: 0 10px 10px 0;
    width: 21.7423133236vw;
    height: 3.2942898975vw;
    border-left: none;
    order: 2;
  }
}

::-moz-placeholder {
  color: #c7c7c7;
  font-family: "Noto Sans JP";
  font-size: 4.8vw;
  font-weight: normal;
  line-height: 1.32;
  padding-left: 2vw;
}

:-ms-input-placeholder {
  color: #c7c7c7;
  font-family: "Noto Sans JP";
  font-size: 4.8vw;
  font-weight: normal;
  line-height: 1.32;
  padding-left: 2vw;
}

::placeholder {
  color: #c7c7c7;
  font-family: "Noto Sans JP";
  font-size: 4.8vw;
  font-weight: normal;
  line-height: 1.32;
  padding-left: 2vw;
}
@media screen and (min-width: 768px) {
  ::-moz-placeholder {
    font-size: 1.317715959vw;
  }
  :-ms-input-placeholder {
    font-size: 1.317715959vw;
  }
  ::placeholder {
    font-size: 1.317715959vw;
  }
}

/*============================================================
# nav
============================================================*/
@media screen and (max-width: 767px) {
  .gNav {
    position: absolute;
    width: 100vw;
    top: 17.0666666667vw;
    left: 0;
    padding-top: 5vw;
    padding-bottom: 6.4vw;
    background: #f7f7f7;
    display: none;
    z-index: 10;
  }

  .gNav.active {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .gNav {
    width: 19.5461200586vw;
    padding-top: 1vw;
    padding-bottom: 5.7vw;
    background: #fff;
  }
}
.gNav-inner {
  width: 72vw;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .gNav-inner {
    width: 19.5vw;
  }
}

.gNav-title {
  font-family: "Noto Sans JP";
  font-size: 4.8vw;
  font-weight: normal;
  color: #524e4d;
}
@media screen and (min-width: 768px) {
  .gNav-title {
    font-size: 1.756954612vw;
    margin-top: 3.8vw;
  }
}

@media screen and (min-width: 768px) {
  h3.gNav-title.special {
    margin-top: 4.5vw;
  }
}

.nav-item {
  margin-top: 5vw;
  width: 65.3333333333vw;
  font-family: "Noto Sans JP";
  font-size: 4.8vw;
  font-weight: normal;
  color: #524e4d;
  position: relative;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .nav-item {
    margin-top: 1.9vw;
    width: 17.8623718887vw;
    font-size: 1.317715959vw;
  }
  .nav-item + .nav-item {
    margin-top: 2vw;
  }
}
.nav-item::after {
  content: "";
  position: absolute;
  width: 3.2vw;
  height: 3.2vw;
  border-bottom: 3px solid #524e4d;
  border-right: 3px solid #524e4d;
  border-radius: 1px;
  top: 0;
  right: 1vw;
  transform: rotate(45deg);
}
@media screen and (min-width: 768px) {
  .nav-item::after {
    width: 0.878477306vw;
    height: 0.878477306vw;
  }
}

.nav-item.open::after {
  transform: translateY(1.5vw) rotate(225deg);
}
@media screen and (min-width: 768px) {
  .nav-item.open::after {
    transform: translateY(0.5vw) rotate(225deg);
  }
}

.open.inner-items {
  display: block;
}

.special {
  margin-top: 7vw;
}
.search-input {
  margin-top: 5vw;
}
.inner-items {
  position: relative;
  background-color: #dedede;
  display: none;
  width: 65.3333333333vw;
  margin-top: 4.4vw;
  padding-top: 1vw;
  padding-bottom: 4vw;
  padding-left: 7.4666666667vw;
}
@media screen and (min-width: 768px) {
  .inner-items {
    width: 17.8623718887vw;
    margin-top: 1.4vw;
    padding-left: 2vw;
    padding-bottom: 1vw;
  }
}
.inner-items .fa-xmark {
  position: absolute;
  top: 4vw;
  right: 2vw;
  font-size: 4.8vw;
}
@media screen and (min-width: 768px) {
  .inner-items .fa-xmark {
    top: 1vw;
    right: 1vw;
    font-size: 1.317715959vw;
  }
}

.open.inner-items {
  display: block;
}

.inner-item {
  margin-top: 4.8vw;
}
@media screen and (min-width: 768px) {
  .inner-item {
    margin-top: 1.2vw;
  }
}

.inner-item a {
  font-family: kozuka-gothic-pr6n;
  font-weight: normal;
  font-size: 4.2666666667vw;
  color: #524e4d;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .inner-item a {
    font-size: 1.1713030747vw;
  }
}

.inner-item span {
  display: block;
  line-height: 1.2;
}
.line {
  border: 1px solid #524e4d;
  width: 100%;
  margin-top: 1vw;
}
@media screen and (min-width: 768px) {
  .line {
    margin-top: 0.3vw;
  }
}

.price-line {
  margin-top: 7.4666666667vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6.4vw;
  padding-right: 6.4vw;
  display: flex;
  align-items: center;
  width: 53.3333333333vw;
  height: 2px;
  background: #c7c7c7;
  position: relative;
}
.price-line::after, .price-line::before {
  content: "";
  position: absolute;
  width: 6.4vw;
  height: 6.4vw;
  border-radius: 50%;
  border: solid 1px #c7c7c7;
  background-color: #fff;
}
.price-line::after {
  left: -6.4vw;
}
.price-line::before {
  right: -6.4vw;
}

@media screen and (min-width: 768px) {
  .price-line {
    margin-top: 2.5vw;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1.756954612vw;
    padding-right: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
    height: 5px;
    background-color: #c7c7c7;
    position: relative;
  }
  .price-line::after, .price-line::before {
    content: "";
    position: absolute;
    width: 1.756954612vw;
    height: 1.756954612vw;
    border-radius: 50%;
    border: solid 1px #c7c7c7;
  }
  .price-line::after {
    left: -1.75vw;
  }
  .price-line::before {
    right: -1.75vw;
  }
}
.price-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 73vw;
  height: 17vw;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .price-box {
    width: 19.5461200586vw;
    height: 4.3vw;
  }
}
.price-box input[type=text] {
  display: block;
  margin-top: 8.2666666667vw;
  width: 23.4666666667vw;
  height: 6.9333333333vw;
  border-radius: 5px;
  border: solid 1px #c7c7c7;
  background-color: #fff;
  padding-left: 1vw;
}
@media screen and (min-width: 768px) {
  .price-box input[type=text] {
    margin-top: 5vw;
    width: 6.588579795vw;
    height: 2.0497803807vw;
    padding-left: 0.5vw;
  }
}
.price-box span {
  display: block;
  font-family: "Noto Sans JP";
  font-size: 4.2666666667vw;
  font-weight: normal;
  color: #524e4d;
}
@media screen and (min-width: 768px) {
  .price-box span {
    font-size: 1.1713030747vw;
  }
}

.gNav-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 2vw;
}
@media screen and (min-width: 768px) {
  .gNav-items {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .search-h3 {
    margin-top: -1.5vw;
  }
}

.gNav-item {
  width: 37%;
}
.gNav-item a {
  font-family: "Noto Sans JP";
  font-size: 4.2666666667vw;
  line-height: 1.75;
  text-align: left;
  color: #524e4d;
}
@media screen and (min-width: 768px) {
  .gNav-item a {
    font-size: 1.1713030747vw;
    line-height: 1.98;
  }
}

/*============================================================
# top
============================================================*/
.top-box {
  border-top: solid 3px #524e4d;
  border-bottom: solid 3px #524e4d;
  margin-top: 4vw;
  padding-top: 4.6vw;
  padding-bottom: 4.6vw;
}
@media screen and (min-width: 768px) {
  .top-box {
    width: 50.2196193265vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 2vw;
    margin-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.pc-breadcrumb {
  margin-top: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.pc-breadcrumb li a {
  font-family: "Noto Sans JP";
  font-weight: normal;
  line-height: 1.99;
  letter-spacing: normal;
  text-align: left;
  color: #524e4d;
  font-size: 1.1713030747vw;
  line-height: 1.49;
}
.pc-breadcrumb .bread-top {
  position: relative;
  padding-right: 2.5vw;
}
.pc-breadcrumb .bread-top::after {
  content: ">";
  position: absolute;
  right: 0.5vw;
  top: 50%;
  transform: translateY(-50%);
}

.sp-breadcrumb {
  margin-top: 3vw;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.sp-breadcrumb li a {
  font-family: "Noto Sans JP";
  font-size: 3.2vw;
  font-weight: normal;
  line-height: 1.99;
  letter-spacing: normal;
  text-align: left;
  color: #524e4d;
}
.sp-breadcrumb .bread-top {
  position: relative;
  padding-right: 6.6666666667vw;
}
.sp-breadcrumb .bread-top::after {
  content: ">";
  position: absolute;
  right: 2vw;
  top: 50%;
  transform: translateY(-50%);
}

.top-h1 {
  white-space: nowrap;
  margin-top: 9vw;
  font-family: noto-sans-cjk-jp;
  font-size: 8.5333333333vw;
  font-weight: 900;
  text-align: left;
  color: #1f2774;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .top-h1 {
    margin-top: 0;
    margin-right: 1.1713030747vw;
    font-size: 3.513909224vw;
  }
}

.top-sub {
  font-family: noto-sans-cjk-jp;
  font-size: 4.2666666667vw;
  font-weight: normal;
  line-height: 2.2;
  text-align: left;
  color: #524e4d;
}
@media screen and (min-width: 768px) {
  .top-sub {
    font-size: 1.756954612vw;
    line-height: 1;
  }
}

@media screen and (min-width: 768px) {
  .top-header {
    display: flex;
    align-items: flex-end;
  }
}
.top-desc {
  white-space: nowrap;
  margin-top: 5vw;
  font-family: "Noto Sans JP";
  font-size: 4.2666666667vw;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #524e4d;
}
@media screen and (min-width: 768px) {
  .top-desc {
    margin-top: 4vw;
    font-size: 1.1713030747vw;
  }
}
.top-desc span {
  white-space: nowrap;
  display: inline-block;
  margin-left: 5.8666666667vw;
}
@media screen and (min-width: 768px) {
  .top-desc span {
    margin-left: 1.3909224012vw;
  }
}

.select-desc {
  white-space: nowrap;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 4.2666666667vw;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #524e4d;
}
@media screen and (min-width: 768px) {
  .select-desc {
    font-size: 1.1713030747vw;
    border-right: 1px solid #524e4d;
    padding-right: 1vw;
  }
}
.select-desc .fa-magnifying-glass {
  font-size: 5.6vw;
  margin-right: 1.5vw;
}
@media screen and (min-width: 768px) {
  .select-desc .fa-magnifying-glass {
    font-size: 1.5373352855vw;
    margin-right: 1vw;
  }
}

.change-box {
  margin-top: 4.5333333333vw;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .change-box {
    margin-top: 0;
  }
}
.change-box label {
  display: block;
  white-space: nowrap;
  margin-right: 2.6666666667vw;
  font-family: "Noto Sans JP";
  font-size: 4.2666666667vw;
  font-weight: normal;
  line-height: 1.49;
  text-align: left;
  color: #524e4d;
}
@media screen and (min-width: 768px) {
  .change-box label {
    font-size: 1.1713030747vw;
    margin-right: 0.6vw;
    margin-left: 1.5vw;
  }
}

.change-innerBox {
  width: 26.72vw;
  height: 8vw;
  border-radius: 5px;
  border: solid 1px #c7c7c7;
  background-color: #fff;
  position: relative;
}
@media screen and (min-width: 768px) {
  .change-innerBox {
    width: 7.3352855051vw;
    height: 2.196193265vw;
  }
}
.change-innerBox::after {
  content: "";
  position: absolute;
  display: block;
  width: 2.6666666667vw;
  height: 2.6666666667vw;
  top: 25%;
  right: 3.5vw;
  border-bottom: #524e4d 2px solid;
  border-right: #524e4d 2px solid;
  transform: rotate(45deg);
}
@media screen and (min-width: 768px) {
  .change-innerBox::after {
    width: 0.7320644217vw;
    height: 0.7320644217vw;
    right: 1vw;
  }
}
.change-innerBox select {
  display: block;
  width: 100%;
  height: 8vw;
  font-family: "Noto Sans JP";
  font-size: 4.2666666667vw;
  font-weight: normal;
  padding-left: 3vw;
  line-height: 1.49;
  text-align: left;
  color: #524e4d;
}
@media screen and (min-width: 768px) {
  .change-innerBox select {
    height: 2.196193265vw;
    font-size: 1.1713030747vw;
    padding-left: 0.7vw;
  }
}

.second-box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 4vw;
}
@media screen and (min-width: 768px) {
  .second-box {
    margin-top: 0;
    margin-left: 1.5vw;
    flex-direction: row-reverse;
  }
}
.second-box li {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 6vw;
}
@media screen and (min-width: 768px) {
  .second-box li {
    margin-right: 1vw;
  }
}
.second-box li label,
.second-box li select {
  white-space: nowrap;
  font-family: "Noto Sans JP";
  font-size: 4.2666666667vw;
  font-weight: normal;
  font-style: normal;
  line-height: 1.49;
  letter-spacing: normal;
  text-align: left;
  color: #524e4d;
}
@media screen and (min-width: 768px) {
  .second-box li label,
.second-box li select {
    font-size: 1.1713030747vw;
  }
}
.second-box li label {
  margin-right: 5vw;
}
@media screen and (min-width: 768px) {
  .second-box li label {
    margin-right: 1.2vw;
    margin-left: 0.3em;
  }
}

.second-innerBox {
  width: 22.4vw;
  height: 8vw;
  border-radius: 5px;
  border: solid 1px #c7c7c7;
  position: relative;
}
@media screen and (min-width: 768px) {
  .second-innerBox {
    width: 6.149341142vw;
    height: 2.196193265vw;
  }
}
.second-innerBox::after {
  content: "";
  position: absolute;
  display: block;
  width: 2.6666666667vw;
  height: 2.6666666667vw;
  top: 25%;
  right: 4vw;
  border-bottom: #524e4d 2px solid;
  border-right: #524e4d 2px solid;
  transform: rotate(45deg);
}
@media screen and (min-width: 768px) {
  .second-innerBox::after {
    width: 0.7320644217vw;
    height: 0.7320644217vw;
    right: 1vw;
  }
}
.second-innerBox select {
  display: block;
  width: 22.4vw;
  height: 8vw;
  width: 100%;
  padding-left: 3vw;
}
@media screen and (min-width: 768px) {
  .second-innerBox select {
    width: 6.149341142vw;
    height: 2.196193265vw;
    padding-left: 1vw;
  }
}

/*============================================================
# brand
============================================================*/
.brand {
  padding-top: 16.2666666667vw;
}
@media screen and (min-width: 768px) {
  .brand {
    padding-top: 4.5vw;
    order: 3;
  }
}

.brand-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .brand-items {
    flex-wrap: nowrap;
  }
}

.brand-item {
  flex-shrink: 1;
}
.brand-item figure {
  width: 42.6666666667vw;
  height: 42.6666666667vw;
}
@media screen and (min-width: 768px) {
  .brand-item figure {
    width: 13.9458272328vw;
    height: 13.9458272328vw;
  }
}

.brand-desc {
  margin-top: 4vw;
  font-family: "Noto Sans JP";
  font-size: 4.2666666667vw;
  font-weight: normal;
  line-height: 1.49;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .brand-desc {
    font-size: 1.1713030747vw;
    margin-top: 1vw;
  }
}

.brand-name {
  font-family: noto-sans-cjk-jp;
  font-size: 4.8vw;
  font-weight: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #524e4d;
}
@media screen and (min-width: 768px) {
  .brand-name {
    font-size: 1.1713030747vw;
    margin-bottom: 0.8vw;
  }
}

.brand-price {
  margin-top: 1.5vw;
  margin-bottom: 10vw;
  font-family: "Noto Sans JP";
  font-size: 6.4vw;
  font-weight: 900;
  line-height: 1.15;
  text-align: left;
  color: #524e4d;
}
@media screen and (min-width: 768px) {
  .brand-price {
    font-size: 1.756954612vw;
    margin-top: 0.7vw;
    margin-bottom: 4vw;
  }
}

/* sale
------------------------------------------------------------------*/
.sale {
  position: relative;
  top: -4vw;
}
@media screen and (min-width: 768px) {
  .sale {
    line-height: 1.8;
    top: -2vw;
  }
}
.sale::before {
  position: absolute;
  content: "SALE";
  font-weight: 900;
  font-family: "Noto Sans JP";
  font-size: 4.8vw;
  text-align: center;
  color: #fff;
  width: 18.1333333333vw;
  line-height: 1.4666666667;
  background: #7f0019;
  left: 0;
  top: -3.4666666667vw;
}
@media screen and (min-width: 768px) {
  .sale::before {
    font-size: 1.317715959vw;
    width: 4.9780380673vw;
    line-height: 1.8;
    top: -0.9vw;
  }
}

.brand-sale-price {
  font-family: "Noto Sans JP";
  font-size: 4.2666666667vw;
  font-weight: normal;
  line-height: 1.72;
  text-align: left;
  color: #524e4d;
  padding-top: 2vw;
}
@media screen and (min-width: 768px) {
  .brand-sale-price {
    font-size: 1.1713030747vw;
    padding-top: 0;
  }
}
.brand-sale-price .fa-arrow-right-long {
  font-size: 6.4vw;
  line-height: 1.15;
  vertical-align: bottom;
}
@media screen and (min-width: 768px) {
  .brand-sale-price .fa-arrow-right-long {
    font-size: 1.756954612vw;
  }
}
.brand-sale-price span {
  font-family: "Noto Sans JP";
  font-size: 6.4vw;
  font-weight: 900;
  line-height: 1.15;
  text-align: left;
  color: #7f0019;
  vertical-align: bottom;
}
@media screen and (min-width: 768px) {
  .brand-sale-price span {
    font-size: 1.756954612vw;
  }
}

/*============================================================
# pagenation
============================================================*/
.pagenation {
  margin-top: 11vw;
  padding: 4vw 0;
  position: relative;
  height: 16vw;
  border-top: solid 3px #524e4d;
  border-bottom: solid 3px #524e4d;
}
@media screen and (min-width: 768px) {
  .pagenation {
    height: 4.39238653vw;
    margin-top: 0;
    padding: 0;
  }
}
.pagenation ol {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .pagenation ol {
    margin-left: 2vw;
    height: 100%;
  }
}
.pagenation ol li a {
  margin-right: 2vw;
  padding: 3vw;
  font-family: "Noto Sans JP";
  font-size: 6.4vw;
  font-weight: bold;
  line-height: 1;
  color: #1f2774;
}
@media screen and (min-width: 768px) {
  .pagenation ol li a {
    font-size: 1.756954612vw;
    padding: 0;
    line-height: 3.5;
  }
}
.pagenation ol .current {
  color: #7f0019;
}
.pagenation i {
  position: absolute;
  right: 6vw;
  font-size: 6.4vw;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .pagenation i {
    font-size: 1.756954612vw;
    right: 1.5vw;
  }
}

/*============================================================
# banner
============================================================*/
.banner {
  margin-top: 16vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
@media screen and (min-width: 768px) {
  .banner {
    margin-top: 0;
    display: block;
    width: 19.2532942899vw;
  }
}
.banner figure {
  width: 42.4vw;
  height: 42.4vw;
}
@media screen and (min-width: 768px) {
  .banner figure {
    width: 100%;
    height: 100%;
  }
}

.second-fig {
  margin-top: 2vw;
}

.banner.pc-only {
  margin: 0;
}

/*============================================================
# footer
============================================================*/
footer {
  margin-top: 14.6666666667vw;
}
@media screen and (min-width: 768px) {
  footer {
    margin-top: 5.4904831625vw;
  }
}

.footer-inner {
  margin: 0 auto;
  width: 92vw;
}
@media screen and (min-width: 768px) {
  .footer-inner {
    width: 83.6749633968vw;
  }
}

.account {
  white-space: nowrap;
  text-align: center;
  font-family: noto-sans-cjk-jp;
  font-size: 4.2666666667vw;
  font-weight: normal;
  color: #524e4d;
}
@media screen and (min-width: 768px) {
  .account {
    font-size: 1.1713030747vw;
  }
}

.sns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 9vw auto 0;
}
@media screen and (min-width: 768px) {
  .sns {
    width: 40.9956076135vw;
    margin-top: 4.0995607613vw;
  }
}
.sns li {
  width: 17.0666666667vw;
  height: 17.0666666667vw;
}
@media screen and (min-width: 768px) {
  .sns li {
    width: 5.3440702782vw;
    height: 5.3440702782vw;
  }
}

.contact {
  margin-top: 12vw;
  text-align: center;
  font-family: noto-sans-cjk-jp;
  font-size: 4.2666666667vw;
  font-weight: normal;
  color: #524e4d;
}
@media screen and (min-width: 768px) {
  .contact {
    font-size: 1.1713030747vw;
    margin-top: 4vw;
  }
}

.footer-item {
  margin-top: 5.6vw;
}
@media screen and (min-width: 768px) {
  .footer-item {
    margin-top: 1.5373352855vw;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
}
.footer-item li {
  text-align: center;
  margin-top: 3.5vw;
}
@media screen and (min-width: 768px) {
  .footer-item li {
    margin-top: 0;
  }
}
.footer-item li a {
  font-family: noto-sans-cjk-jp;
  font-size: 4.2666666667vw;
  font-weight: normal;
  color: #524e4d;
}
@media screen and (min-width: 768px) {
  .footer-item li a {
    font-size: 1.1713030747vw;
  }
}

.copy {
  margin-top: 6.1333333333vw;
  margin-bottom: 4.8vw;
  white-space: nowrap;
  text-align: center;
  font-family: noto-sans-cjk-jp;
  font-size: 10px;
  font-weight: normal;
  color: #524e4d;
}
@media screen and (min-width: 768px) {
  .copy {
    margin-top: 2.4158125915vw;
    margin-bottom: 1.4641288433vw;
  }
}

/*============================================================
# big-wrapper
============================================================*/
.big-wrapper {
  display: content;
}

@media screen and (min-width: 768px) {
  .big-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-right: 8.0527086384vw;
    margin-left: 8.0527086384vw;
  }

  .content {
    width: 62.5915080527vw;
    margin-top: 4vw;
  }
}
/*# sourceMappingURL=style.css.map */